link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../../bower_components/paper-button/paper-button.html")
link(rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html")
link(rel="import" href="../../../bower_components/paper-badge/paper-badge.html")
link(rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html")

dom-module#nigi-yakashi
  template
    style(include="iron-flex iron-flex-factors iron-positioning")
    style(is="custom-style").
      :host {
        display: block;
        min-width: 400px;
        height: 10vh;
      }
    firebase-auth#firebaseAuth(user="{{user}}" provider="google")
    firebase-query#firebaseReactions(path="/rooms/[[roomId]]/reactions" data="{{reactions}}")
    firebase-query(path="/users" data="{{users}}")
    .hoge
      span.clap
        paper-button#clap(on-tap="clap" raised) パチパチ
      span.like
        paper-button#hee(on-tap="hee" raised) へー
      span.interesting
        paper-button#laugh(on-tap="laugh" raised) wwww
    .debug(style="text-align: right;")
      span.remove
        paper-button#remove(on-tap="remove" raised) 削除(DEBUG)

  script(src="./nigi-yakashi.js")
