doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="import" href="./components/application-root/application-root.html")
    link(rel="import" href="./bower_components/iron-flex-layout/iron-flex-layout-classes.html")
    style(is="custom-style" include="iron-flex iron-flex-factors iron-positioning")
    link(rel="import" href="./bower_components/polymer-themes/the-times.html" type="css")
    title Nigiwai
  body.fullbleed.vertical.layout
    application-root
