link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../../bower_components/paper-input/paper-input.html")
link(rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import" href="../../../bower_components/polymerfire/firebase-query.html")
link(rel="import" href="../../../bower_components/polymerfire/firebase-auth.html")
link(rel="import" href="../agreeable-comment/agreeable-comment.html")

dom-module#agreeable-board
  template
    style(include="iron-flex iron-flex-factors iron-positioning")
    style(is="custom-style").
      :host {
        display: block;
        min-width: 400px;
        min-height: 200px;
      }
      .comments paper-button {
        padding: 0;
      }
    firebase-auth#firebaseAuth(user="{{user}}" provider="google")
    firebase-query#firebase(path="/rooms/[[roomId]]/comments" data="{{comments}}")
    firebase-query(path="/users" data="{{users}}")
    .comments
      template(is="dom-repeat" items="[[comments]]")
        agreeable-comment(comment="[[item]]" room-id="[[roomId]]")
    form(is="iron-form" on-submit="submit")
      .layout.horizontal.center
        paper-input.flex(label="コメント" value="{{newComment.body}}")
        paper-button(raised on-tap="submit") submit
  script(src="./agreeable-board.js")


