link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../../bower_components/paper-input/paper-input.html")
link(rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import" href="../../../bower_components/polymerfire/firebase-query.html")
link(rel="import" href="../../../bower_components/polymerfire/firebase-auth.html")
link(rel="import" href="../agreeable-comment/agreeable-comment.html")

dom-module#agreeable-board
  template
    style(include="iron-flex iron-flex-factors iron-positioning")
    style(is="custom-style").
      :host {
        display: block;
        min-width: 400px;
        height: 65vh;
      }
      form {
        height: 70px;
      }
      .comments {
        height: calc(100% - 70px);
        overflow: scroll;
      }
      .comment {
        padding: 12px 16px;
      }
      .comment:nth-child(even) {
        background-color: #f5f5f5;
      }
    firebase-query#firebase(path="/rooms/[[room.$key]]/comments")
    form(is="iron-form" on-submit="submit")
      .layout.horizontal.center
        paper-input.flex(label="コメント" value="{{newComment.body}}")
        paper-button(raised on-tap="submit") submit
    .comments
      template(is="dom-repeat" items="[[comments]]" sort="sortComments")
        .comment: agreeable-comment(comment="[[item]]" users="[[users]]" user="[[user]]" room="[[room]]")
  script(src="./agreeable-board.js")
