link(rel="import" href="../../bower_components/polymer/polymer.html")
link(rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html")

dom-module#hoge-elm
  template
    h1 hoge
    paper-icon-button(icon="menu")
  script.
    Polymer({
      is: "hoge-elm"
    })
