link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../../bower_components/polymerfire/firebase-auth.html")

dom-module#user-block
  template
    style(include="iron-flex iron-flex-factors iron-positioning")
    style(is="custom-style").
      :host {
        display: block;
      }
      .image {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        overflow: hidden;
      }
      .image img{
        width: 100%;
      }
      .name {
        margin-left: 0.5rem;
      }
    firebase-auth#firebaseAuth(user="{{user}}" provider="google")
    h3.layout.horizontal.center
      .image: img(src$="[[user.photoURL]]")
      .name [[user.displayName]]
  script(src="./user-block.js")

