link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../../bower_components/polymerfire/firebase-auth.html")
link(rel="import" href="../user-icon/user-icon.html")

dom-module#user-block
  template
    style(include="iron-flex iron-flex-factors iron-positioning")
    style(is="custom-style").
      :host {
        display: block;
      }
      .name {
        margin-left: 0.5rem;
      }
    firebase-auth#firebaseAuth(user="{{user}}" provider="google")
    h3.layout.horizontal.center
      user-icon(user="[[user]]")
      .name [[user.displayName]]
  script(src="./user-block.js")

