link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../../bower_components/paper-button/paper-button.html")
link(rel="import" href="../../../bower_components/iron-icons/iron-icons.html")
link(rel="import" href="../../../bower_components/iron-icons/image-icons.html")
link(rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html")
link(rel="import" href="../../../bower_components/paper-header-panel/paper-header-panel.html")
link(rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html")
link(rel="import" href="../../../bower_components/paper-badge/paper-badge.html")
link(rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html")
link(rel="import" href="../../../bower_components/paper-input/paper-input.html")
link(rel="import" href="../../../bower_components/paper-drawer-panel/paper-drawer-panel.html")
link(rel="import" href="../../../bower_components/paper-card/paper-card.html")
link(rel="import" href="../../../bower_components/paper-fab/paper-fab.html")
link(rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import" href="../../../bower_components/polymerfire/firebase-document.html")
link(rel="import" href="../../../bower_components/polymerfire/firebase-auth.html")
link(rel="import" href="../../components/agreeable-board/agreeable-board.html")
link(rel="import" href="../../components/nigi-yakashi/nigi-yakashi.html")
link(rel="import" href="../../components/reaction-gauge/reaction-gauge.html")

dom-module#page-room
  template
    style(include="iron-flex iron-flex-factors iron-positioning")
    style(is="custom-style").
      paper-card {
        margin: 1rem;
      }
      .user .image {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        overflow: hidden;
      }
      .user .image img{
        width: 100%;
      }
    template(is="dom-if" if="[[active]]" restamp)
      app-route(pattern="/:id" route="[[route]]" data="{{routeData}}")
      firebase-auth#firebaseAuth(user="{{user}}" provider="google")
      firebase-document(path="/rooms/[[routeData.id]]" data="{{room}}")
      paper-drawer-panel(responsive-width="960px")
        div(drawer)
          .layout.vertical
            h2.title
              a(href="#/") Nigiwai
            // コンポーネント化したい
            h3.user.layout.horizontal.center
              .image: img(src$="[[user.photoURL]]")
              .name [[user.displayName]]
        paper-header-panel(main)
          paper-toolbar
            paper-icon-button(icon="menu" paper-drawer-toggle)
            .title.flex [[room.name]]
            paper-icon-button(icon="image:edit" on-tap="openDialog")
          .horizontal.layout.around-justified
            .vertical.layout.flex
              paper-card
                .card-content
                  agreeable-board(room-id="[[routeData.id]]")
              paper-card
                .card-content
                  nigi-yakashi(room-id="[[routeData.id]]")
            paper-card
              .card-content
                reaction-gauge(room-id="[[routeData.id]]")
      paper-dialog#dialog(modal on-iron-overlay-closed="onEditorClosed" on-iron-overlay-opened="onEditorOpened")
        header
          h2 ルーム編集
        .main
          paper-input(label="ルーム名" value="{{room.name}}")
        footer
          paper-button(raised dialog-dismiss) Cancel
          paper-button(raised dialog-confirm autofocus) Save
  script(src="./page-room.js")

