link(rel="import" href="../../bower_components/polymer/polymer.html")
link(rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html")
link(rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html")
link(rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html")
link(rel="import" href="../../bower_components/app-layout/app-header/app-header.html")
link(rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html")
link(rel="import" href="../../bower_components/paper-button/paper-button.html")
link(rel="import" href="../../bower_components/iron-icons/iron-icons.html")
link(rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html")
link(rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html")
link(rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html")
link(rel="import" href="../../bower_components/app-route/app-route.html")
link(rel="import" href="../../bower_components/app-route/app-location.html")
link(rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html")
link(rel="import" href="../../bower_components/neon-animation/neon-animations.html")
link(rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import" href="../../bower_components/polymerfire/firebase-app.html")
link(rel="import" href="../../bower_components/polymerfire/firebase-auth.html")
link(rel="import" href="../../bower_components/polymerfire/firebase-query.html")
link(rel="import" href="../../bower_components/polymerfire/firebase-document.html")
link(rel="import" href="../pages/page-root/page-root.html")
link(rel="import" href="../pages/page-rooms/page-rooms.html")
link(rel="import" href="../pages/page-room/page-room.html")

dom-module#application-root
  template
    style(include="iron-flex iron-flex-factors iron-positioning")
    style(include="iron-flex iron-flex-factors iron-positioning")
    style(is="custom-style").
      :host {
        @apply(--layout-fit)
      }
    .routing
      app-location(route="{{route}}" use-hash-as-path)
      app-route(name="root" pattern="/" route="[[route]]")
      app-route(name="rooms" pattern="/rooms" route="[[route]]")
      app-route(name="room" pattern="/room/:id" route="[[route]]" data="{{routeData}}")
    .data
      firebase-app(auth-domain="nigiwai-27cf5.firebaseapp.com" database-url="https://nigiwai-27cf5.firebaseio.com" api-key="AIzaSyAGRVwLz3GTrNTx7uNC5YBV-ynxS4qeYKs")
      firebase-auth#firebaseAuth(user="{{authUser}}" provider="google" signed-in="{{signedIn}}")
      firebase-document(path="/users/[[authUser.uid]]" data="{{user}}")
      firebase-query(path="/rooms" data="{{rooms}}")
      firebase-query(path="/users" data="{{users}}")
    neon-animated-pages.fit(selected="[[activeRouteName]]" attr-for-selected="name" entry-animation="fade-in-animation" exit-animation="fade-out-animation")
      page-root(name="root" user="[[user]]" active="[[equals(activeRouteName, 'root')]]")
      page-rooms(name="rooms" user="[[user]]" rooms="[[rooms]]" active="[[equals(activeRouteName, 'rooms')]]")
      page-room(name="room" users="[[users]]" user="[[user]]" rooms="[[rooms]]" room-id="[[routeData.id]]" active="[[equals(activeRouteName, 'room')]]")
  script(src="./application-root.js")
