link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import" href="../../../bower_components/polymerfire/firebase-query.html")
link(rel="import" href="../../../bower_components/polymerfire/firebase-auth.html")

dom-module#agreeable-comment
  template
    style(include="iron-flex iron-flex-factors iron-positioning")
    firebase-auth#firebaseAuth(user="{{user}}" provider="google")
    firebase-query#firebase(path="/rooms/[[roomId]]/comments/[[comment.$key]]/agreements" data="{{agreements}}")
    firebase-query(path="/users" data="{{users}}")
    .comment.layout.horizontal
      p.body [[comment.body]]
      paper-button(raised on-tap="meToo" data="{{comment}}") me too!
      template(is="dom-repeat" items="[[agreements]]")
        user-icon(user="[[findUser(item, users, users.length)]]")
  script(src="./agreeable-comment.js")


