<link rel="import" href="../../../bower_components/polymer/polymer.html"/><link rel="import" href="../../../bower_components/paper-input/paper-input.html"/><link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html"/><dom-module id="reaction-gauge"><template><style include="iron-flex iron-flex-factors iron-positioning"></style><style is="custom-style">:host {
  display: block;
  min-width: 200px;
  min-height: 400px;
}</style><div class="hoge">500</div></template><script src="./reaction-gauge.js"></script></dom-module>