link(rel="import" href="../../../bower_components/polymer/polymer.html")
link(rel="import" href="../../../bower_components/paper-input/paper-input.html")
link(rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html")
script(src="../../../bower_components/d3/d3.min.js")

dom-module#reaction-gauge
  template
    style(include="iron-flex iron-flex-factors iron-positioning")
    style(is="custom-style").
      :host {
        display: block;
        min-width: 200px;
        min-height: 400px;
      }
    firebase-auth#firebaseAuth(user="{{user}}" provider="google")
    firebase-query#firebaseReactions(path="/rooms/[[roomId]]/reactions" data="{{reactions}}")
    svg(viewbox='0 0 200 400')
      def
        g#gauge
          path#path4-3.cls-1(d='M104,12.83C99.5,5.29,92,0,82.89,0,70.06,0,60.22,12.59,60.22,22.67,60.22,42.17,73.81,51.33,104,80c30.19-28.67,43.77-37.85,43.77-57.33C147.77,12.62,138,0,125.1,0,116.1,0,108.55,5.29,104,12.83Z', transform='translate(-60.22)')
          path#path4-3-2.cls-1(data-name='path4-3', d='M104,92.83C99.5,85.29,92,80,82.89,80c-12.83,0-22.67,12.59-22.67,22.67,0,19.51,13.59,28.67,43.77,57.33,30.19-28.67,43.77-37.85,43.77-57.33,0-10-9.81-22.67-22.67-22.67C116.1,80,108.55,85.29,104,92.83Z', transform='translate(-60.22)')
          path#path4-3-3.cls-1(data-name='path4-3', d='M104,172.83C99.5,165.29,92,160,82.89,160c-12.83,0-22.67,12.59-22.67,22.67,0,19.51,13.59,28.67,43.77,57.33,30.19-28.67,43.77-37.85,43.77-57.33,0-10-9.81-22.67-22.67-22.67C116.1,160,108.55,165.29,104,172.83Z', transform='translate(-60.22)')
          path#path4-3-4.cls-1(data-name='path4-3', d='M104,252.83C99.5,245.29,92,240,82.89,240c-12.83,0-22.67,12.59-22.67,22.67,0,19.51,13.59,28.67,43.77,57.33,30.19-28.67,43.77-37.85,43.77-57.33,0-10-9.81-22.67-22.67-22.67C116.1,240,108.55,245.29,104,252.83Z', transform='translate(-60.22)')
          path#path4-3-5.cls-1(data-name='path4-3', d='M104,332.83C99.5,325.29,92,320,82.89,320c-12.83,0-22.67,12.59-22.67,22.67,0,19.51,13.59,28.67,43.77,57.33,30.19-28.67,43.77-37.85,43.77-57.33,0-10-9.81-22.67-22.67-22.67C116.1,320,108.55,325.29,104,332.83Z', transform='translate(-60.22)')
      mask#mask(maskunits='userSpaceOnUse', x='0', y='0', width='200', height='400')
        use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#gauge', x='40', y='0', fill='white', transform='translate(-0,-0) scale(1,1)')
      rect(mask='url(#mask)', x='0', y='0', width='200', height='400', fill='gray')
      rect#bar(mask='url(#mask)', x='0', y='0', width='200', height='0', fill='#ff4081')
      rect#barFlash(mask='url(#mask)', x='0', y='0', width='200', height='400', fill='#ff4081', fill-opacity='0.0')
  script(src="./reaction-gauge.js")
